
.desktop_menu{
    height: 100vh;
    position: sticky;
    padding: 0 25px;
    background:white;
    border-right:2px solid #F3F3F3;
  
}
.side_menu{
    list-style: none;
   padding: 0;
}
.side_menu li{
    margin: 5% 0;
}
.side_menu li img{
    margin-right: 10px;
}
.side_menu li a{
 color: #A7AFBC;
 font-weight: 600;
 padding: 12px 15px;
 display: flex;
}
.side_menu li a.active-link, .desktop_menu ul li a:hover {
    background-color:#F0F5FA;
    border-radius: 10px;
  }

  @media screen and (max-width: 768px){
    .desktop_menu{
        display: none;
    }
}